@model Microsoft.Samples.DPE.BlobShare.Web.Models.RoleEditViewModel
@{
    ViewBag.Title = "Blob Share | New Role";
}

 <h1>@Html.ActionLink("Roles", "Index")</h1>
    <h2>New Role</h2>

    <ul class="actions">
    </ul>

    @using (Html.BeginForm())
    {
        <div class="form">
            <div class="left-box">
                <div class="editor-label">Name</div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="editor-label">Description</div>
                <div class="editor-field">
                    @Html.TextAreaFor(m => m.Description)
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
            </div>
            <div class="submit clear">
                <input type="submit" value="Create" />
            </div>
        </div>
    }
