@model Microsoft.Samples.DPE.BlobShare.Web.Models.BlobSetNotificationViewModel

@{
    ViewBag.Title = "Blob Share | Blob Set Notifications";
}

<h1>@Html.ActionLink("Blob Sets", "Index")</h1>
<h2>@Html.ActionLink(this.Model.Name, "Details", new { id = this.Model.BlobSetId })</h2>

<ul class="actions">
    <li>@Html.ActionLink("Details", "Details", new { id = this.Model.BlobSetId }, new { @class = "btn details" })</li>
    <li>@Html.ActionLink("Permissions", "Permissions", new { id = this.Model.BlobSetId }, new { @class = "btn permissions" })</li>
</ul>

@using (Html.BeginForm())
{
    <div class="form">
        <div class="left-box">
            <div class="editor-label">Subject</div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Subject, new { style = "width:500px;" })
                @Html.ValidationMessageFor(m => m.Subject)
                @Html.HiddenFor(m => m.Name)
            </div>
            <div class="editor-label">Personal message</div>
            <div class="editor-field">
                @Html.TextAreaFor(m => m.Message , new { style = "width:500px;" })
                @Html.ValidationMessageFor(m => m.Message)
            </div>
        </div>
        <div class="submit clear">
            <input type="submit" value="Send" />
        </div>
        <div class="empty">Send a notification to the blob set users.</div>
    </div>
}
