@model Microsoft.Samples.DPE.BlobShare.Web.Models.BulkUserViewModel
@{
    ViewBag.Title = "Blob Share | Invite Users";
}

<h1>@Html.ActionLink("Users", "Index")</h1>
<h2>Invite Users</h2>
    
<ul class="actions">
</ul>

@using (Html.BeginForm())
    { 
    <div class="form">
        <div class="left-box">
            <div class="editor-label">Emails (comma separated)</div>
            <div class="editor-field">
                @Html.TextAreaFor(m => m.Emails)
                @Html.ValidationMessageFor(m => m.Emails) 
            </div>
            <div class="editor-label">Roles</div>
            <div class="editor-field">
               @{
                    int k = 1; 
                    
                    foreach (var role in this.Model.RoleNames)
                    { 
                        @Html.CheckBox("Role"+k); 
                        @(" " + role)
                        <br />
                        k++;
                    }
                }
            </div>
        </div>
        <div class="left-box">
            <div class="editor-label">Personal Message</div>
            <div class="editor-field">
                @Html.TextAreaFor(m => m.PersonalMessage)
                @Html.ValidationMessageFor(m => m.PersonalMessage)
            </div>
        </div>
        <div class="submit clear">
            <input type="submit" value="Create" />
        </div>
    </div>
} 

